html {
    background-color: black
}

h1 {
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem
}

p {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem
}

img {
    border: 5px solid white;
    width: 100%;
}

#mainDiv {
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
}
